<ion-header>
  <ion-toolbar>
   <ion-title>Lista de Facturas</ion-title>
    <ion-button slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-segment value="all">
        <ion-segment-button value="all">
          <ion-label>Todas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="favorites">
          <ion-label>Favoritas</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>FN12345</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>FN12345</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>FN12345</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>FN12345</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>FN12345</ion-label>
    </ion-item>
  </ion-list>
  </ion-content>